.parent{
  background-color: #000000;
  padding: 30px;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
} 

.card{
  height: 350px;
  width: 250px;
  background-color: white;
  padding: 30px;
  border: none;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top img{
  height: 50px;
  width:50px;
  border-radius: 50%;
  border: 1px solid gray;
  padding: 2px;
}

.top button{
  display: flex;
  align-items: center;
  background-color: #dadada;
  padding: 4px 8px;
  font-size: 14px;
  border: 1px solid gray;
  border-radius: 8px;
  gap: 5px;
  background: transparent;
  color:#acabab
}

.center{
  margin: 20px 0px;
}

.center h3{
  font-size: 18px;
  font-weight: 500;
  margin: 1px;
}

.center h3 span{
  font-size: 10px;
  color: gray;
}

.center h2{
  font-size: 22px;
  margin: 0px;
}

.center .tag{
  display : flex;
  gap: 5px;
  margin: 0px;
}

.center .tag h4{
  font-size: 14px;
  background-color: #ececec;
  padding: 2px 8px;
  border-radius: 8px;
  width: fit-content;
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px; 
  border-top: 1px solid gray;
  padding-top: 8px;
}

.bottom div h3{
  margin: 0px;
  font-size: 18px;
  
}

.bottom div h5{
  margin: 0px;
  font-size: 14px;
  color: gray;
}

.bottom button{
  background-color: black;
  text-align: center;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
}